header {
    color: black;
    background: white;
}

.highscores {
    text-align: left;
}

.timer {
    text-align: right;
}

#start {
    color: white;
    background-color: purple

}
.guide {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 700px;
    color: black;
    background-color: lightgray;
    text-align: center;
}
.qBox {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 700px;
    color: black;
    background-color: lightgray;
    text-align: center;
}
.finish {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 700px;
    color: black;
    background-color: lightgray;
    text-align: center;
}
h2 {
    text-align: center;
    padding: "400px";
}

.choices {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#choices {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#choice1 {
    background-color: purple;
    color: white;
}
#choice2 {
    background-color: purple;
    color: white;
}
#choice3 {
    background-color: purple;
    color: white;
}
#choice4 {
    background-color: purple;
    color: white;
}
#submit {
    background-color: purple;
    color: white;
}

.grader {
    text-align: center;
    color: gray;
    font-style: italic;

}